beautifulsoup4==4.8.0
nltk==3.4.5
numpy==1.16.5
pandas==0.25.2
pyodbc==4.0.27
PyYAML==3.13
query-string==2019.4.13
rdflib==4.2.2
request==2019.4.13
requests==2.18.1
six==1.12.0
SPARQLWrapper==1.8.4
testpath==0.4.2
tornado==4.5.2
urllib3==1.24.2
paralleldots==3.2.13
