scikit-learn
beautifulsoup4
nltk
numpy<1.17,>=1.14.5
pandas
PyYAML
rdflib
request
requests
selenium
six
SPARQLWrapper
testpath
tornado
urllib3
tensorflow==1.14
keras==2.2.5
paralleldots
requests-toolbelt
lazy-import