{
"tarsier_path": "C:/Users/ilari/Documents/Big capocchie/Project/FinancialNewsSemanticScraper/src/tarsier/",
"fuseki_path": "C:/Users/ilari/Documents/Big capocchie/Project/FinancialNewsSemanticScraper/resources/apache-jena-fuseki/",
"news_update": 300,
"first_start": true,
"browser_path": "C:/Users/ilari/Downloads/",
"token_paralleldots": "zmxvDWsLaMuo6cxA1ZuIhjaqw6vtNVc9OVB5RgHQWFw"}